
---
# Disable line wrapping
ColumnLimit: 80

# Other formatting preferences
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach  # Braces on the same line
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: false

